DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=db_name
DATABASE_USERNAME=db_username
DATABASE_PASSWORD=db_password

DATABASE_POOL_PRE_PING=true
DATABASE_POOL_RECYCLE=3600
DATABASE_POOL_SIZE=2
DATABASE_MAX_OVERFLOW=4

UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000
UVICORN_ROOT_PATH=

TOKEN_SIGNING_KEY=1111111111111111aaaaaaaaaaaaaaaa1111111111111111aaaaaaaaaaaaaaaa